docutils==0.15.2
joblib==0.14.1
llvmlite==0.31.0
lmdb==0.98
MarkupSafe==1.1.1
numba==0.48.0
numpy==1.18.2
pandas==1.0.3
pyFFTW==0.12.0
pylops==1.8.0
python-dateutil==2.8.1
pytz==2019.3
PyWavelets==1.1.1
scikit-fmm==2019.1.30
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
spgl1==0.0.1
urllib3==1.25.8
