# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python application

on:
  push:
    branches: [ master, app_integration ]
  pull_request:
    branches: [ master, app_integration ]

jobs:
  build:

    runs-on: [ubuntu-18.04]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.6
      uses: actions/setup-python@v1
      with:
        python-version: 3.6
    - name: Install dependencies
      run: |
        pip install -r requirements.txt
    - name: Test with pytest
      run: |
        python core/test/test_get_test_results.py
        python inbuilt_algos/test/test_nnompcv.py
        python inbuilt_algos/test/test_sbl.py
        python test/test_all.py
        python utils/test/test_app_utils.py
        python utils/test/test_matrix_utils.py
        python utils/test/test_pickle_manager.py
